{% extends "layout.html" %}

{% block content %}

  <div class="row-top row col-sm-12">
    <div class="days col-sm-3">
      <p id="intro-text">Trip Planner is a tool you can use to plan your trip! You can add additional days to your trip by clicking the button below. Enjoy!</p>
      <button id="add-day" class="btn btn-primary center-block">Add Day</button>
    </div><!-- day-buttons -->
  <div class="dropdowns col-sm-9 col-sm-12">
    <form class="form-inline">
      <div id="hotel-dropdown" class="col-sm-4">
        <label for="hotel-selector">Hotels</label>
        <select id="hotel-selector" class="form-control">
            {% for hotel in hotels %}
              <option value="{{hotel.id}}">{{hotel.name}}</option>
            {% endfor %}
        </select>
        <button data-select="hotels" id="add-hotel" class="btn btn-primary addBtn" >Add</button>
      </div><!-- /#hotel-dropdown -->
      <div id="thingstodo-dropdown" class="col-sm-4">
        <label for="thing-selector">Things To Do</label>
        <select id="thing-selector" class="form-control">
            {% for thing in thingstodo %}
              <option value="{{thing.id}}">{{thing.name}}</option>
            {% endfor %}
        </select>
        <button data-select="thingsToDo" id="add-thingtodo" class="btn btn-primary addBtn" >Add</button>
      </div><!-- /#thingstodo-dropdown -->
      <div id="restaurant-dropdown" class="col-sm-4">
        <label for="restaurant-selector">Restaurants</label>
        <select id="restaurant-selector" class="form-control">
            {% for restaurant in restaurants %}
              <option value="{{restaurant.id}}">{{restaurant.name}}</option>
            {% endfor %}
        </select>
        <button data-select="restaurants" id="add-restaurant" class="btn btn-primary addBtn" >Add</button>
      </div><!-- /#restaurant-dropdown -->
    </form><!-- /.form-inline -->
  </div><!-- /.dropdowns -->
  </div><!-- /.row-top -->
  <div class="row-bottom row col-md-12">
    <div class="plan-info col-md-3 col-sm-12">
      <h2 id="plan-for-day">Plan For Day 1</h2>
        <h3>Hotel</h3><br>
        <ul id="plan-hotel" class="plan-items"></ul>
        <h3>Things to Do</h3><br>
        <ul id="plan-things" class="plan-items"></ul>
        <h3>Restaurants</h3><br>
        <ul id="plan-restaurants" class="plan-items"></ul>
    </div><!-- /.plan-info -->
    <div id="map-canvas" class="col-sm-9 col-sm-12">
    </div><!-- /.map-canvas -->

  </div><!-- /.row-bottom -->


<script>
  {% autoescape false %}
  var all_hotels = {{ hotels | json }};
  var all_restaurants = {{ restaurants | json }};
  var all_things_to_do = {{ thingstodo | json }};
  var all_days = {{ days | json }};
  {% endautoescape %}
</script>



<!-- Map goes here -->

{% endblock %}