{% extends "layout.html" %}

{% block content %}


  <div class="row-top row col-lg-12">
    <div class="days col-lg-3">
      <p id="intro-text">Trip Planner is a tool you can use to plan your trip! Add items to your plan by using the add buttons. You can add additional days to your trip by clicking the button below. Enjoy!</p>
      <button id="add-day" class="btn btn-primary center-block">Add Day</button>
    </div><!-- day-buttons -->
  <div class="dropdowns col-lg-9 col-md-12">
    <form class="form-inline">
      <div id="hotel-dropdown" class="col-lg-4">
        <h3>Hotels</h3>
        <select id="hotel-selector" class="form-control">
            {% for hotel in hotels %}
              <option value="{{hotel.name}}">{{hotel.name}}</option>
            {% endfor %}
        </select>
        <button id="add-hotel" class="btn btn-primary" >Add</button>
      </div><!-- /#hotel-dropdown -->
      <div id="thingstodo-dropdown" class="col-lg-4">
        <h3>Things To Do</h3>
        <select id="thing-selector" class="form-control">
            {% for thing in thingstodo %}
              <option value="{{thing.name}}">{{thing.name}}</option>
            {% endfor %}
        </select>
        <button id="add-thingtodo" class="btn btn-primary" >Add</button>
      </div><!-- /#thingstodo-dropdown -->
      <div id="restaurant-dropdown" class="col-lg-4">
        <h3>Restaurants</h3>
        <select id="restaurant-selector" class="form-control">
            {% for restaurant in restaurants %}
              <option value="{{restaurant.name}}">{{restaurant.name}}</option>
            {% endfor %}
        </select>
        <button id="add-restaurant" class="btn btn-primary" >Add</button>
      </div><!-- /#restaurant-dropdown -->
    </form><!-- /.form-inline -->
  </div><!-- /.dropdowns -->
  </div><!-- /.row-top -->
  <div class="row-bottom row col-lg-12">
    <div class="plan-info col-lg-3 col-md-12">
      <h2>Plan for day {{daynumber}}</h2>
        <h3>Hotel</h3><br>
        <ul id="plan-hotel" class="plan-items"></ul>
        <h3>Things to Do</h3><br>
        <ul id="plan-things" class="plan-items"></ul>
        <h3>Restaurants</h3><br>
        <ul id="plan-restaurants" class="plan-items"></ul>
    </div><!-- /.plan-info -->
    <div id="map-canvas" class="col-lg-9 col-md-12">
    </div><!-- /.map-canvas -->

  </div><!-- /.row-bottom -->




<!--   <ul>
    {% for restaurant in restaurants %}
      <li>{{restaurant.name}}</li>
    {% endfor %}
  </ul> -->




<script>
  {% autoescape false %}
  var all_hotels = {{ hotels | json }};
  var all_restaurants = {{ restaurants | json }};
  var all_things_to_do = {{ things_to_do | json }};
  var all_days = {{ days | json }};
  {% endautoescape %}
</script>


<!-- Map goes here -->


  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(40.716916, -73.995402),
        zoom: 13
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}