body {
  background-color: #E6E6E6;

  #intro-text {
    text-align: center;
  }

  nav {
    display: block;
  li {
    &.selected {
      a {
        color: #FFF;
        &:visited, &:active {
          color: #fff;
        }

      }
    }
  }
  }


  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .row {
    display: block;
    margin: 0;
    padding: 0;
  }
  .row-top {
    height: 130px;
    margin-top: 70px;
  }
  .row-bottom {
    height: 80%;
  }

  #map-canvas {
    min-width: 500px;
    min-height: 600px;
    border: 1px solid gray;
  }
  a {
    color: #00B7FF;
  }

  .plan-info {
    display: block;
  }

  li .activity {
    display: block;
    margin: auto;
  }

//---------------- BUTTON STYLES -------------------
  button {
    display: block;



    &.btn-delete-activity {
      visibility: hidden;
      margin-left: 10px;
      background-color: #2E2E2E;
      color: #E6E6E6;
    }
  }

  .activity:hover .btn-delete-activity {
    visibility: visible;
    color: #E6E6E6;
  }

  label {
    display: block;
    font-size: 24px;
  }

  select {
    margin-top: auto 0;
    display: inline-block;
    max-width: 200px;
  }

}

